html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  /* background-color: #E7E8DF; */
  color: #1A1A1A;
  background-image: linear-gradient(#E7E8DF, #C3EAF8, #9fd49d);
  /* background: linear-gradient(#000, #000) no-repeat center/2px 100%; */
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
  /* border: 1px solid red; */
  cursor: default;
  overscroll-behavior: none;
}


/* Nav bar styling */
.Nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: .3vmin solid #1A1A1A;
  align-items: center;
  width: 100%;
  font-size: 2.2vmin;
  position: fixed;
  z-index: 1;
  /* background-color: #E7E8DF; */
  background-image: linear-gradient(to bottom right, #E7E8DF, #C3EAF8, #9fd49d);
}

.Nav-text {
  cursor: pointer;
  transition: all 1s ease-in-out;
  width: 8.5vmin;
}

.Nav-text:hover {
  transform: scale(1.2);
}

.Nav-bar svg {
  cursor: pointer;
}


/* Landing Page styling */
.Landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  top: 5vmin;
}

.Landing-page h1 {
  position: relative;
  top: 4vmin;

}

.Landing-page img {
  position: relative;
  width: 70%;
  height: 100%;
  /* object-fit: cover; */
  margin-bottom: -18vmin;
}

.Landing-page h2 {
  position: relative;
  font-size: 3.5vmin;
}

.Landing-page-text {
  text-align: center;
  position: relative;
  height: 20vmin;
}

.Button-wrapper {
  width: 80%;
  position: absolute;
  top: 10%;
}

.Landing-page button {
  float: left;
  text-align: center;
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin;
  font-family: Geneva;
  font-weight: bold;
  animation: pulse 6s ease infinite;
  color: white;
  background-color: #B53025;
  border-color: #E7E8DF;
  border-style: double;
  border-width: 1vmin;
  cursor: pointer;
  font-size: 2vmin;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}


/* About Styling */
.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vmin;
}

.About img {
  width: 75%;
  height: 40vmin;
  border-radius: 2vmin;
  object-fit: none;
}

.About p {
  font-size: 2.5vmin;
  width: 75%;
  text-align: center;
  line-height: 3vmin;
  word-spacing: 1vmin;
}


/* Meet the team styling */
.Meet-the-team h1 {
  align-self: center;
}

.Meet-the-team {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2vmin;
  height: fit-content;
}

.Bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vmin;
  width: 100%;
}

.Bio img {
  width: 20vmin;
  height: 20vmin;
  border: 1vmin none #C3EAF8;
  border-radius: 50%;
}

.Bio p {
  width: 75%;
  font-size: 2.5vmin;
  text-align: center;
  line-height: 3vmin;
  word-spacing: 1vmin;
}

.Non-owners {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 5vmin;
  width: 100%;
}


/* Testimonials Styling */
.Testimonials {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 3vmin;
}

.Testimonials h1 {
  align-self: center;
}

.Testimonials-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.Testimonial {
  /* display: flex; */
  width: 40%;
  height: 30vmin;
  border: .5vmin solid #E7E8DF;
  background-color: transparent;
  color: #1A1A1A;
  border-radius: 2vmin;
  margin-top: 2.5vmin;
  margin-bottom: 2.5vmin;
  overflow: scroll;
}

.Testimonial img {
  float: left;
  width: 15vmin;
  height: 15vmin;
  border: 1vmin none #9fd49d;
  border-radius: 50%;
  position: relative;
  margin-top: 2vmin;
  margin-right: 2vmin;
  margin-left: 2vmin;
}

.Testimonial p {
  /* padding: 1vmin; */
  font-size: 2.2vmin;
  margin-left: 2vmin;
  margin-right: 2vmin;
  /* text-align: center; */
  line-height: 3vmin;
  word-spacing: 1vmin;
}


/* Supporting component styles */
.Supporting {
  display: flex;
  flex-direction: column;
  padding-bottom: 5vmin;
  padding-top: 5vmin;
}

.Supporting h1 {
  align-self: center;
}

.Supporting-content-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.Supporting-content-1 p {
  position: relative;
  right: 10vmin;
}

.Supporting-content-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.Supporting-content-2 p {
  position: relative;
  left: 10vmin;
}

.Supporting-image-wrapper {
  display: flex;
  width: 50%;
  height: 40vmin;
  padding-left: 10vmin;
  padding-right: 10vmin;
}


.Supporting-image-wrapper img {
  object-fit: fill;
  width: 100%;
}

.Supporting-text-wrapper p {
  font-size: 2.5vmin;
  line-height: 3.5vmin;
  word-spacing: 1vmin;
  text-align: center;
  padding-left: 2vmin;
  padding-right: 2vmin;
  height: 35vmin;
  overflow: scroll;
}

.Supporting-text-wrapper {
  width: 50%;
}


/* Footer Styling */
.Footer {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  margin-top: 2vmin;
}

.Footer h2 {
  font-size: 3vmin;
}

.Footer p {
  font-weight: bold;
  font-size: 2vmin;
}

.Footer-top {
  /* border: solid 1px red; */
  border-top: solid .35vmin #1A1A1A;
  height: 18vmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Footer-bottom {
  border-top: solid .35vmin #1A1A1A;
  height: 4vmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Footer-top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.Footer-top-right svg {
  cursor: pointer;
}

.Svg-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.Footer-top-middle {
  text-align: center;
  width: 33%;
  /* border: solid 1px red; */
}

#Email {
  text-decoration: none!important;
  color: #1A1A1A;
}

.Footer-top p{
  cursor: pointer;
  transition: all 1s ease-in-out;
  /* width: fit-content; */
}

.Footer-top p:hover {
  transform: scale(1.2);
}


.Footer-top svg:hover {
  transform: scale(1.2);
}

.Footer-top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  /* border: solid 1px red; */
}

.Footer-top svg {
  width: 7vmin;
  height: 7vmin;
  cursor: pointer;
  transition: all 1s ease-in-out;
}


/* Contact Styling */
.Contact {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 8vmin;
  align-items: center;
  height: 100vmin;
  /* height: 100%; */
  min-height: 84vh;
  padding-bottom: 5vmin;
}

.Contact h1 {
  font-size: 4.05vmin;
}

.Contact h2 {
  font-size: 3vmin;
}

.Contact label {
  font-size: 2.02vmin;
}

.Contact form {
  position: relative;
  display: flex;
  flex-direction: column;
  border: .5vmin solid #1A1A1A;
  border-radius: 3vmin;
  width: 100vmin;
  align-items: center;
  height: 80vmin;
  padding-bottom: 5vmin;
}

.Contact textarea:focus {outline: none}

.Contact textarea {
  width: 90%;
  height: 15vmin;
  border: .2vmin solid #1A1A1A;
  background-color: transparent;
  box-sizing: content-box;
  background-color: transparent;
  border-radius: .7vmin;
  top: 2.5vmin;
  background-attachment: local;
  background-image:
      repeating-linear-gradient(transparent, transparent 30px, #1a1a1a 30px, #1a1a1a 31px, #1a1a1a 31px);
  line-height: 31px;
  font-family: Geneva;
  font-size: 2vmin;
}

.Contact-form-basic-info {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 20vmin;
  justify-content: space-evenly;
}


.Contact-form-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.Contact-form-options label{
  width: 20%;
  text-align: center;
}

.Contact input[type=text]:focus {outline: none}

.Contact input[type=text] {
  position: relative;
  width: 88vmin;
  padding: .8vmin;
  font-size: 2vmin;
  background-color: transparent;
  border: #1A1A1A 1px solid;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
  /* border-radius: .7vmin; */
  top: 1vmin;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.Contact input[type=submit] {
  position: relative;
  width: 20vmin;
  top: 5vmin;
  border-radius: 1vmin;
  cursor: pointer;
  font-size: 2vmin;
  font-weight: bold;
  background-color: transparent;
  height: 8vmin;
  border: .2vmin #1A1A1A solid;
  border-radius: 2vmin;
  transition: all .75s ease-in-out;
}

.Contact-form input[type=submit]:hover {
  transform: scale(1.2);
  border: .4vmin solid;
  backdrop-filter: blur(1px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #B53025;
  -webkit-text-fill-color: #1A1A1A;
  transition: background-color 5000s ease-in-out 0s;
}

.Contact-wrapper {
  display: flex;
  flex-direction: column;
}


/* Events Styling */
.Events {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 5vmin;
  align-items: center;
  height: fit-content;
  /* height: 100%; */
  min-height: 84vh;
  padding-bottom: 5vmin;
}

.Events-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
}

.Event {
  display: flex;
  flex-direction: column;
  min-height: 50vmin;
  height: fit-content;
  position: relative;
  /* border: 1px solid blue; */
  width: 80%;
  transition: smooth;
}

.Event h3 {
  font-size: 4vmin;
  text-align: center;
  /* border-bottom: 1px solid #9fd49d; */
}

.Event-top {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.Event-top img {
  width: 50%;
  object-fit: cover;
  max-height: 50vmin;
}

.Event-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* border: 1px solid purple; */
  justify-content: space-evenly;
  /* position: relative; */
  align-items: flex-start;
  /* align-items: flex-start; */
}

/* .Event-info svg {
  max-width: 100% !important;
  max-height: 100% !important;
} */

.Event-info h2 {
  font-size: 2.5vmin;
}

.Event-info-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Event-info-content-wrapper svg{
  height: 10vmin;
  width: 10vmin;
  min-width: 3vmin;
  min-height: 3vmin;
  max-width: 6.5vmin;
  max-height: 6.5vmin;
  padding-right: 1vmin;
  padding-left: 1vmin;
}

.Event-bottom {
  position: relative;
  display: flex;
  text-align: center;
  font-size: 2vmin;
  width: 100%;
  justify-content: center;
  /* border: 1px solid green; */
}

#Event-rsvp {
  transform-origin: left bottom;
  transition: all 1s ease-in-out;
}

#Event-rsvp:hover {
  transform: scale(1.1);
}


/* Courses stying */
.Courses {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 8vmin;
  align-items: center;
  height: fit-content + 5vmin;
  /* height: 100%; */
  min-height: 100vh;
  /* border: 1px solid red; */
  padding-bottom: 5vmin;
}

.Courses-info {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 65%;
  text-align: center;
  justify-content: space-evenly;
  height: fit-content;
}

.Courses p {
  font-size: 2.5vmin;
}

.Courses button {
  float: left;
  text-align: center;
  border-radius: 50%;
  width: 18vmin;
  height: 18vmin;
  font-family: Geneva;
  font-weight: bold;
  animation: pulse 6s ease infinite;
  color: white;
  background-color: #B53025;
  border-color: #E7E8DF;
  border-style: double;
  border-width: 1vmin;
  cursor: pointer;
  font-size: 2vmin;
}

.Courses-button-wrapper {
  /* width: 90%; */
  position: absolute;
  top: 5vmin;
  left: 2vmin;
  /* border: 1px solid red; */
}

/* .Courses-offered {

} */