html {
  font-family: Geneva;
  font-weight: 600;
  background-color: #E7E8DF;
  color: #1A1A1A;
}

.Nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  align-items: center;
  width: 100%;
  font-size: 2.2vmin;
}

.Landing-page {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
