html {
  font-family: Geneva;
  font-weight: 600;
  /* background-color: #E7E8DF; */
  color: #1A1A1A;
  background-image: linear-gradient(#E7E8DF, #C3EAF8, #9fd49d);
  /* background: linear-gradient(#000, #000) no-repeat center/2px 100%; */
}

* {
  /* border: 1px solid red; */
  cursor: default;
  overscroll-behavior: none;
}


/* Nav bar styling */
.Nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: .3vmin solid #1A1A1A;
  align-items: center;
  width: 100%;
  font-size: 2.2vmin;
  position: fixed;
  z-index: 1;
  /* background-color: #E7E8DF; */
  background-image: linear-gradient(to bottom right, #E7E8DF, #C3EAF8, #9fd49d);
}

.Nav-text {
  cursor: pointer;
  transition: all 1s ease-in-out;
  width: 8.5vmin;
}

.Nav-text:hover {
  transform: scale(1.2);
}

.Nav-bar svg {
  cursor: pointer;
}


/* Landing Page styling */
.Landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  top: 5vmin;
}

.Landing-page h1 {
  position: relative;
  top: 4vmin;
}

.Landing-page img {
  position: relative;
  width: 70%;
  height: 100%;
  /* object-fit: cover; */
  margin-bottom: -18vmin;
}

.Landing-page h2 {
  position: relative;
  font-size: 3.5vmin;
}

.Landing-page-text {
  text-align: center;
  position: relative;
  height: 20vmin;
}

.Button-wrapper {
  width: 80%;
  position: absolute;
  top: 10%;
}

.Landing-page button {
  float: left;
  text-align: center;
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin;
  font-family: Geneva;
  font-weight: bold;
  animation: pulse 6s ease infinite;
  color: white;
  background-color: #B53025;
  border-color: #E7E8DF;
  border-style: double;
  border-width: 1vmin;
  cursor: pointer;
  font-size: 2vmin;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}


/* About Styling */
.About {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About img {
  width: 75%;
  height: 40vmin;
  border-radius: 2vmin;
  object-fit: none;
}

.About p {
  font-size: 2.5vmin;
  width: 75%;
  text-align: center;
  line-height: 3vmin;
  word-spacing: 1vmin;
}


/* Meet the team styling */
.Meet-the-team h1 {
  align-self: center;
}

.Meet-the-team {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2vmin;
  height: fit-content;
}

.Bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vmin;
}

.Bio img {
  width: 20vmin;
  height: 20vmin;
  border: 1vmin none #C3EAF8;
  border-radius: 50%;
}

.Bio p {
  width: 75%;
  font-size: 2.5vmin;
  text-align: center;
  line-height: 3vmin;
  word-spacing: 1vmin;
}

.Non-owners {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 5vmin;
}


/* Testimonials Styling */
.Testimonials {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Testimonials h1 {
  align-self: center;
}

.Testimonials-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.Testimonial {
  /* display: flex; */
  width: 40%;
  height: 30vmin;
  border: .5vmin solid #E7E8DF;
  background-color: transparent;
  color: #1A1A1A;
  border-radius: 2vmin;
  margin-top: 2.5vmin;
  margin-bottom: 2.5vmin;
  overflow: scroll;
}

.Testimonial img {
  float: left;
  width: 15vmin;
  height: 15vmin;
  border: 1vmin none #9fd49d;
  border-radius: 50%;
  position: relative;
  margin-top: 2vmin;
  margin-right: 2vmin;
  margin-left: 2vmin;
}

.Testimonial p {
  /* padding: 1vmin; */
  font-size: 2.2vmin;
  margin-left: 2vmin;
  margin-right: 2vmin;
  /* text-align: center; */
  line-height: 3vmin;
  word-spacing: 1vmin;
}


/* Supporting component styles */
.Supporting {
  display: flex;
  flex-direction: column;
}

.Supporting h1 {
  align-self: center;
}

.Supporting-content-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
}

.Supporting-content-1 p {
  position: relative;
  right: 10vmin;
}

.Supporting-content-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
}

.Supporting-content-2 p {
  position: relative;
  left: 10vmin;
}

.Supporting img {
  width: 50%;
  height: 40vmin;
  padding-left: 10vmin;
  padding-right: 10vmin;
}

.Supporting-text-wrapper p {
  font-size: 2.5vmin;
  line-height: 3.5vmin;
  word-spacing: 1vmin;
  text-align: center;
  padding-left: 2vmin;
  padding-right: 2vmin;
  height: 35vmin;
  overflow: scroll;
}

.Supporting-text-wrapper {
  width: 50%;
}


/* Footer Styling */
.Footer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2vmin;
}

.Footer h2 {
  font-size: 3vmin;
}

.Footer p {
  font-weight: bold;
  font-size: 2vmin;
}

.Footer-top {
  /* border: solid 1px red; */
  border-top: solid .35vmin #1A1A1A;
  height: 18vmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Footer-bottom {
  border-top: solid .35vmin #1A1A1A;
  height: 4vmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Footer-top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.Footer-top-right svg {
  cursor: pointer;
}

.Svg-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.Footer-top-middle {
  text-align: center;
  width: 33%;
  /* border: solid 1px red; */
}

#Email {
  text-decoration: none!important;
  color: #1A1A1A;
}

.Footer-top p{
  cursor: pointer;
  transition: all 1s ease-in-out;
  /* width: fit-content; */
}

.Footer-top p:hover {
  transform: scale(1.2);
}


.Footer-top svg:hover {
  transform: scale(1.2);
}

.Footer-top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  /* border: solid 1px red; */
}

.Footer-top svg {
  width: 7vmin;
  height: 7vmin;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

